<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="tenantId"
             value="2dff09ac-2b3b-4182-9953-2b548e0d0b39" />
        <add key="clientId"
             value="b2b83560-086a-46b9-8270-35ea259cbb66" />
        <add key="clientSecret"
             value="pyM8Q~gvRL0-C~Wj9EAS~9mQBn_.XemqmLxcjdqJ" />
        <add key="keyVaultUrl"
             value="https://hotelconnectionstring.vault.azure.net/" />
        <add key="secretName"
             value="connectionstring" />
    </appSettings>
</configuration>