<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="HotelManagementDB"
             connectionString="Data Source=localhost;Initial Catalog=hotel_management;Integrated Security=True;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>